@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-info: var(--info);
  --color-info-foreground: var(--info-foreground);
  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: hsl(40 100% 98.8%);
  --foreground: hsl(0 0% 27.1%);
  --card: hsl(0 0% 100%);
  --card-foreground: hsl(20 14.3% 4.1%);
  --popover: hsl(0 0% 100%);
  --popover-foreground: hsl(20 14.3% 4.1%);
  --primary: hsl(24.6 95% 53.1%);
  --primary-foreground: hsl(60 9.1% 97.8%);
  --secondary: hsl(60 4.8% 95.9%);
  --secondary-foreground: hsl(24 9.8% 10%);
  --accent: hsl(33.2 100% 89%);
  --accent-foreground: hsl(0 0% 27.1%);
  --muted: hsl(60 4.8% 95.9%);
  --muted-foreground: hsl(25 5.3% 44.7%);
  --destructive: hsl(0 84.2% 60.2%);
  --destructive-foreground: hsl(60 9.1% 97.8%);
  --success: hsl(123 46.2% 33.5%);
  --success-foreground: hsl(21.6 100% 95.1%);
  --info: hsl(201.2 98.1% 41.4%);
  --info-foreground: hsl(21.6 100% 95.1%);
  --border: hsl(20 5.9% 90%);
  --input: hsl(20 5.9% 90%);
  --ring: hsl(24.6 95% 53.1%);
  --sidebar: hsl(0 0% 98%);
  --sidebar-background: hsl(40 100% 98.8%);
  --sidebar-foreground: hsl(0 0% 27.1%);
  --sidebar-primary: hsl(23 100% 50%);
  --sidebar-primary-foreground: hsl(21.6 100% 95.1%);
  --sidebar-accent: hsl(33.2 100% 89%);
  --sidebar-accent-foreground: hsl(0 0% 27.1%);
  --sidebar-border: hsl(0 0% 27.1%);
  --sidebar-ring: hsl(0 0% 27.1%);
  --chart-1: hsl(23 100% 45%);
  --chart-2: hsl(23 95% 55%);
  --chart-3: hsl(23 90% 65%);
  --chart-4: hsl(23 85% 75%);
  --chart-5: hsl(23 80% 85%);
}

.dark {
  --radius: 0.625rem;
  --background: hsl(40, 17%, 10%);
  --foreground: hsl(60 9.1% 97.8%);
  --card: hsl(240 5.9% 10%);
  --card-foreground: hsl(60 9.1% 97.8%);
  --popover: hsl(240 5.9% 10%);
  --popover-foreground: hsl(60 9.1% 97.8%);
  --primary: hsl(20.5 90.2% 48.2%);
  --primary-foreground: hsl(60 9.1% 97.8%);
  --secondary: hsl(12 6.5% 15.1%);
  --secondary-foreground: hsl(60 9.1% 97.8%);
  --muted: hsl(12 6.5% 15.1%);
  --muted-foreground: hsl(24 5.4% 63.9%);
  --accent: hsl(13, 10%, 17%);
  --accent-foreground: hsl(60 9.1% 97.8%);
  --destructive: hsl(0 72.2% 50.6%);
  --destructive-foreground: hsl(60 9.1% 97.8%);
  --border: hsl(32, 22%, 25%);
  --input: hsl(11, 14%, 37%);
  --ring: hsl(20.5 90.2% 48.2%);
  --sidebar: hsl(240 5.9% 10%);
  --sidebar-background: hsl(240 5.9% 10%);
  --sidebar-foreground: hsl(240 4.8% 95.9%);
  --sidebar-primary: hsl(224.3 76.3% 48%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(240 3.7% 25.9%);
  --sidebar-accent-foreground: hsl(240 4.8% 95.9%);
  --sidebar-border: hsl(240 3.7% 25.9%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
  --chart-1-dark: hsl(23 100% 60%);
  --chart-2-dark: hsl(23 95% 70%);
  --chart-3-dark: hsl(23 90% 75%);
  --chart-4-dark: hsl(23 85% 80%);
  --chart-5-dark: hsl(23 80% 85%);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }

  [dir="rtl"] svg {
    transform: scaleX(-1);
  }
}